.itemlistcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 430px;
    
}

.itemlistcontainer-h1{
    font-size: 1.6em;
    line-height: 1.1;
    color: #ffffff;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .product-card {
    background-color: #f7ffc8;
    color: rgb(171, 184, 62);
    border-radius: 10px;
    width: 250px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .product-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .product-title {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  .info-button {
    background-color: #f7ffc8;
    color: #000000;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .product-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .product-price {
    font-size: 1.2rem;
    color: #000000;
    font-weight: bold;
  }
  
  .cart-button {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .product-details {
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    background-color: #f7ffc8;
    text-align: left;
  }
  
  .product-description {
    font-size: 14px;
    color: #000000;
  }
  
  .product-stock {
    font-size: 14px;
    color: #f39c12;
    font-weight: bold;
  }