
.Navbar {
  background-color: #252424;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0; 
  width: 100%; 
  z-index: 1000; 
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
  width: 100%;
}

.title {
  font-size: 2.5rem;
  margin: 0;
  color: rgb(240, 240, 240);
  position: absolute;
  left: 1rem; 
  top: 0rem;
}

.nav-buttons ul {
  display: flex;
  justify-content: center; 
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-buttons button {
  background-color: #fff;
  color: #000000;
  border: 2px solid #f7ffc8;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
}

.nav-buttons button:hover {
  background-color: #f7ffc8;
  color: #d40000;
}

.cart-widget {
  position: relative;
  top: 1rem;
  right: 1rem;
  color: white;
  font-size: 1rem;
}


.cart-widget {
  position: relative;
  top: 0rem;
  right: -40rem;
  color: white;
  font-size: 1rem;
}

.nav-link {
  text-decoration: none;
}